/* Styling the Select input box */
.custom-select .ant-select-selector {
    background-color: #2F2F3A !important;
    color: white !important;
    border-radius: 12px !important;
    /* padding: 12px 16px !important; */
    border: none !important;
    width: 100% !important;
    
  }
  .ant-select-dropdown {
    z-index: 9999 !important;
  }
  
  /* Ensuring placeholder text is also white */
  .custom-select .ant-select-selection-placeholder {
    color: rgba(255, 255, 255, 0.6) !important;
  }
  
  /* Ensuring dropdown menu also has a dark background */
  .custom-select .ant-select-dropdown {
    background-color: #2F2F3A !important;
    
  }
  
  /* Styling dropdown options */
  .custom-select .ant-select-item {
    color: white !important;
  }
  
  .custom-select .ant-select-item-option-selected {
    background-color: #4B4B5A !important;
  }
  